<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <h2 class="header-title"><a href="/">PartyQueue</a></h2>
    </nav>

    <section class="index">
      <h2>Party Queue</h2>
      <p>Create a Spotify Queue for an event to share with friends,
      <br>or create a social community for sharing great music! <br>
        - The democratic way to queue music.
      </p>
      <a class="pretty-button" href="/get_access">Create party queue</a>
    </section>

    {{#if not_logged_in}}
    <section class="index">
      <h2>Already have a queue?</h2>
      <p>
        Log in with your spotify account to access it!
      </p>
      <a class="pretty-button green" href="/login">Log in to spotify</a>
    </section>
    {{else}}
    <section class="index">
      <h2>Logged in!</h2>
      <a class="pretty-button" href="/logout">Log out</a>
    </section>
    {{/if}}


    <section class="public-queues-section">
      <div class="public-queues-list">
        <h3>Public queues</h3>
        <div class="public-queues-list-item">
          <ul>
            {{#each queues}}
              {{#if this.is_public}}
                <li><a href="/party/{{{this.id}}}">{{{this.name}}}</a></li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </section>

    {{#if admin_for}}
    <section class="public-queues-section">
      <div class="public-queues-list">
        <h3>You are admin for queue</h3>
        <div class="public-queues-list-item">
          <ul>
            <li><a href="/party/{{{admin_for.id}}}">{{{admin_for.name}}}</a></li>
          </ul>
        </div>
      </div>
    </section>
    {{/if}}

  </body>
</html>
