<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <h2 class="header-title"><a href="/">PartyQueue</a></h2>
    </nav>

    <div id="wrapper">
      <section class="index main">
        <h2>Party Queue</h2>
        <p>Create a Spotify Queue for an event to share with friends,
        or create a social community for sharing great music! <br>
          - The democratic way to queue music.
        </p>
        <a class="pretty-button" href="/get_access">Create party queue</a>
      </section>

      <aside class="left-column">
        <section class="index">

          {{#if not_logged_in}}
            <h2>Already have a queue?</h2>
            <p>
              Log in with your spotify account to access it!
            </p>
            <a class="pretty-button green" href="/login">Log in to spotify</a>
          {{else}}
            <h2>Logged in!</h2>
            <a class="pretty-button" href="/logout">Log out</a>
          {{/if}}

        </section>

        <section class="index">
          <h2>FAQ</h2>
          <h3 style="color:lightgrey;">How does this work?</h3>
          <p >
            I am using the open Spotify APIs which can be found <a style="color:white" href="http://developer.spotify.com/">Here</a>.
            They are free to use, but I'm not sure if there is a limit on number of request.
            My application makes a lot of requests and hopefully it will stay up, but no guarantees.
         </p>

          <h3 style="color:lightgrey;">Can I make the queue play in my browser?</h3>
          <p>
            Yes, if you're on a desktop computer with Mac or Windows (> 8.1) and use
            a supported browser. Latest versions of Chrome, IE and Firefox should work fine.
            Sadly mobile is not supported.
         </p>

         <h3 style="color:lightgrey;">Who are you?</h3>
         <p>
           Im Joakim Loxdal, my website is <a style="color:white" href="http://joakimloxdal.se">joakimloxdal.se</a>
           and my email is loxdalen@gmail.com.
        </p>
      </section>
      </aside>

      <aside class="right-column">
        <section class="public-queues-section">
          <div class="public-queues-list">
            <h3>Public queues</h3>
            <div class="public-queues-list-item">
              <ul style="padding:0">
                {{#each queues}}
                  {{#if this.is_public}}
                    <li style="list-style:none;"><a style="color:black;" href="/party/{{{this.id}}}">{{{this.name}}}</a></li>
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </section>

        {{#if admin_for}}
        <section class="public-queues-section">
          <div class="public-queues-list">
            <h3>You are admin for queue</h3>
            <div class="public-queues-list-item">
              <ul style="padding:0">
                <li style="list-style:none;"><a style="color:black;" href="/party/{{{admin_for.id}}}">{{{admin_for.name}}}</a></li>
              </ul>
            </div>
          </div>
        </section>
        {{/if}}
      </aside>
    </div> <!-- end of wrapper -->


  </body>
</html>
